@import "null.css";

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "Lato", "sans-serif";
	font-weight: 400;
	line-height: 1.6;
	font-size: 16px;
	color: #424551;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	max-width: 390px;
	margin: 0 0 0 auto;
}

.main-1 {
	color: #1e212c;
	line-height: 1.5;
	font-weight: 700;
	margin: 8px 0;
	text-transform: uppercase;
}

.main-2 {
	font-size: 46px;
	font-weight: 900;
	color: #1e212c;
	line-height: 1.3;
	text-transform: capitalize;
	margin-bottom: 40px;
}

.list {
	margin-bottom: 48px;
}

.item-list {
	margin-bottom: 12px;
	background: url("../img/Vector.png") 0 5px / 15px 15px no-repeat;
	min-height: 15px;
	padding-left: 32px;
}

.button {
	display: inline-block;
	background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
	border-radius: 4px;

	color: white;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.5px;
	padding: 0 32px;
	margin-bottom: 26px;
	max-width: 162px;
	line-height: 3.14;
	text-align: center;
}
